Joshua ben Jore <jjore@cpan.org> <jjore@cpan.org>
Joshua ben Jore <jjore@cpan.org> <JJORE@cpan.org>
Steffen Beyer <STBEY@cpan.org> <STBEY@cpan.org>
Kent Fredric <kentnl@cpan.org> <kentfredric@gmail.com>
